In [109]:
from numpy import NaN
import pandas as pd
from sqlalchemy import null, true
from sympy import false

# import Data miners 2022 (answers).csv from the same directory as this file and create a dataframe called df
df = pd.read_csv('Data miners 2022 (answers).csv')

#I wish to see the relationship between python experience and programming experience

#Convert the python How are your Python skills to a numerical value
df['How are your Python skills?'] = df['How are your Python skills?'].map({"Non-existing - I don't like snakes": 0, "I have heard about it and have an idea about what it can be used for": 1, "I can understand/read simple Python scripts, but have never written one": 2, "I have tried to write simple scripts in Python" : 3, "I am quite capable of programming in Python": 4, "I am a Python wizard": 5})

#Create a function that converts How long time have you been programming to a numerical value

#Create a dict that maps the string one to the numerical value 1 and the string two to the numerical value 2 etc. Stop at 20 years
years = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'eleven': 11, 'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15, 'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19, 'twenty': 20}

s1 = "hej ven"
s2 = "8 months"
s3 = "On and off a few years"
s4 = '2 years'
s5 ='6 months'
s6 = '1 year'
s7 = '2-3 years'
s8 = '1-2 years'
s9 = 'July 2022'
s9 = 'one year'


#Function that takes two strings and checks if one string is in the other
def check_if_in_string(string1, string2):
    if string1 in string2:
        return True
    else:
        return False

#Function that takes two strings a and b. It should return the substring of a left to the string b
def left_to_string(a, b):
    return a[:a.find(b)]

#if a string contains - then split the string into two and return the right part
def split_string(string):
    if '-' in string:
        return string.split('-')[1]
    else:
        return string

#Function to convert the string to a numerical value
def convert_string_to_number(string):
    #try to convert the string to an int and return the int if it works. If it doesn't work, return "sorry mate"
    try:
        try:
            return int(string)
        except:
            return years[string]
    except:
        return NaN

def convert_experience_to_number(string):
    string = string.lower()
    hasMonth = check_if_in_string('month', string)
    hasYear = check_if_in_string('year', string)
    experience = null

    if not hasYear and hasMonth:
        return 0
    elif hasYear:
        experience = left_to_string(string, 'year')
        if check_if_in_string('-', experience):
            experience = split_string(experience)
        return convert_string_to_number(experience.strip())
    else:
        return NaN


#Test cases for the function convert_experience_to_number
test_cases = true

if test_cases:
    print(convert_experience_to_number(s1))
    print(convert_experience_to_number(s2))
    print(convert_experience_to_number(s3))
    print(convert_experience_to_number(s4))
    print(convert_experience_to_number(s5))
    print(convert_experience_to_number(s6))
    print(convert_experience_to_number(s7))
    print(convert_experience_to_number(s8))
    print(convert_experience_to_number(s9))

nan
0
nan
2
0
1
3
2
1

In [113]:
#Apply the function convert_experience_to_number to the column How long time have you been programming and replace the column with the new column
#df['How long time have you been programming'] = df['How long time have you been programming'].apply(convert_experience_to_number)

#give me the first row of the column How long time have you been programming


#for every value in How long time have you been programming apply the function convert_experience_to_number and replace the old values with the new value


# add a new column to the dataframe called python experience and fill it with the values that result from applying the function convert_experience_to_number to the column How long time have you been programming
df['How long time have you been programming (Numerical)'] = df['How long time have you been programming?'].apply(convert_experience_to_number)

#if python experience is not a number, then replace it with the mean of the column python experience
df['How long time have you been programming (Numerical)'] = df['How long time have you been programming (Numerical)'].fillna(df['How long time have you been programming (Numerical)'].mean())

display(df)

,Tidsstempel,What are you hoping to get out of the data mining course?,What topic are you most interested in the data mining course?,Which programme are you studying?,Why are you taking this course?,What was your first programming language?,How long time have you been programming?,How are your Python skills?,Which of the following mathematical formulas do you find understandable?\n(meaning that you are familiar with the notation used and can infer what is meant by the formula),Your mean shoe size (In European Continental system),"Your height (in International inches)\nAlready, an awkward data storage format. It's good to be fluent in multiple systems!",How would you describe your gender?,python experience,How long time have you been programming (Numerical)
0,29/08/2022 08.38.05,"To learn how to independently, or with groups,...",Classification,"MSc Digitial Innovation and Management, ITU",It is the most exciting,Python,6 months,3.0,Valgmulighed 1,47.0,6.200000,Male,0.00000,0.00000
1,29/08/2022 08.38.43,Bedre forståelse for områder at arbejde med data,Regression,"MSc Software Design, ITU",This was mandatory for me,Java,1 år,1.0,Valgmulighed 1,39.0,167.000000,Female,2.55814,2.55814
2,29/08/2022 08.38.53,Be able to apply the techniques in a professio...,Classification,"MSc Software Design, ITU","It is the most exciting, It'll give me busines...",Java,1 Year,3.0,"Valgmulighed 1, Valgmulighed 5",42.0,68.000000,Male,1.00000,1.00000
3,29/08/2022 08.38.56,Tools to work with real-life data,Regression,"MSc Software Design, ITU","It is the most exciting, This was mandatory fo...",Stata/R,5 years,4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",38.0,66.500000,Female,5.00000,5.00000
4,29/08/2022 08.39.09,To get a thorough understanding of how to crea...,Classification,"MSc Digitial Innovation and Management, ITU","It is the most exciting, It'll give me busines...",Python,5-ish years,3.0,"Valgmulighed 1, Valgmulighed 2",40.0,65.740000,Female,2.55814,2.55814
5,29/08/2022 08.39.12,"Learn to extract data, clean them and prepare ...",Visualization,MSc elsewhere,It is the most exciting,Python,6 years,4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",42.0,76.000000,Male,6.00000,6.00000
6,29/08/2022 08.39.15,Learning how to collect and process large amou...,Data wrangling,MSc elsewhere,"It is the most exciting, It seems highly relev...",Python,A year,4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3",44.0,70.900000,Male,2.55814,2.55814
7,29/08/2022 08.39.23,Hands-on experience with data mining algorithms.,Visualization,MSc elsewhere,It is the most exciting,Java,8 years,5.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",43.0,7125.984252,Male,8.00000,8.00000
8,29/08/2022 08.39.23,Knowledge and experience that will be readily ...,Clustering,"MSc Software Design, ITU","The other courses were even less attractive, I...",Python,On and off a few years,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",42.0,70.800000,Male,2.55814,2.55814
9,29/08/2022 08.39.32,know whether the hype around it is worth it,Dimensionality reduction,MSc elsewhere,It is the most exciting,python,2 years,4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",40.0,69.000000,Female,2.00000,2.00000
10,29/08/2022 08.39.54,Being able to analyze and handle different kin...,Clustering,"MSc Software Design, ITU","This was mandatory for me, It'll give me busin...",Java,1 year,1.0,Valgmulighed 1,41.0,6.000000,Male,1.00000,1.00000
11,29/08/2022 08.39.57,I am hoping to get mathematical insight to alg...,Clustering,"MSc Software Design, ITU",It is the most exciting,Java,2 years,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 5",37.0,64.000000,Non binary,2.00000,2.00000
12,29/08/2022 08.40.01,"Improve my problem-solving, quant and coding s...",Structured problem solving of data mining prob...,"MSc Digitial Innovation and Management, ITU","It is the most exciting, It'll give me busines...",Python,6 months,4.0,"Valgmulighed 1, Valgmulighed 2",43.0,72.000000,Male,0.00000,0.00000
13,29/08/2022 08.40.06,"To learn how to process, organize and get intg...",Classification,"MSc Software Design, ITU","It is the most exciting, This was mandatory fo...",Java,1 year,3.0,"Valgmulighed 1, Valgmulighed 5",42.0,68.900000,Male,1.00000,1.00000
14,29/08/2022 08.40.07,be able to analyse data sets and see potential...,I haven't learned it yet,"MSc Software Design, ITU","I'm not sure, let's see how it works out, It'l...",java,1 year,1.0,Valgmulighed 1,39.0,65.748031,Female,1.00000,1.00000
15,29/08/2022 08.40.33,Gaining the skills to be able to work a data s...,Clustering,"MSc Software Design, ITU","This was mandatory for me, It'll give me busin...",F#,2-3 years,4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",37.0,63.000000,Female,3.00000,3.00000
16,29/08/2022 08.40.41,Better skills in data analysi,Classification,"MSc Digitial Innovation and Management, ITU",It is the most exciting,Python,"Started 4 years ago, been using regularly for 2",4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 4...",40.0,69.000000,Female,2.55814,2.55814
17,29/08/2022 08.40.41,Skills to apply in my future career and projects,Classification,"MSc Software Design, ITU","This was mandatory for me, It'll give me busin...",C++,7 years,4.0,"Valgmulighed 1, Valgmulighed 2",42.0,172.000000,Male,7.00000,7.00000
18,29/08/2022 08.40.41,NaN,don't know,"MSc Software Design, ITU",It is the most exciting,JavaScript,5 years,3.0,"Valgmulighed 1, Valgmulighed 5",38.0,63.000000,Female,5.00000,5.00000
19,29/08/2022 08.40.46,A better understanding of how data science and...,Classification,"MSc Digitial Innovation and Management, ITU",It is the most exciting,Python,1 year ish,4.0,Valgmulighed 2,45.0,72.000000,Male,1.00000,1.00000
20,29/08/2022 08.40.52,"A toolbox for the data processing, modelling a...",Dimensionality reduction,MSc elsewhere,"I'm not sure, let's see how it works out",R,4 years,4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",38.5,64.900000,Female,4.00000,4.00000
21,29/08/2022 08.40.54,"To learn about classification, prediction, vis...",Visualization,"MSc Software Design, ITU","It is the most exciting, This was mandatory fo...",Javascript,5 years - but on and off. Realistically only 2...,3.0,Valgmulighed 1,38.0,170.000000,Female,5.00000,5.00000
22,29/08/2022 08.40.54,Skills for finding new knowledge in huge data ...,Dimensionality reduction,"MSc Software Design, ITU","I'm not sure, let's see how it works out",Javascript,3-4 years,3.0,"Valgmulighed 2, Valgmulighed 5",45.0,70.870000,Male,4.00000,4.00000
23,29/08/2022 08.40.56,NaN,Visualization,"MSc Software Design, ITU",It is the most exciting,Java,2 years,4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 5",39.0,64.500000,Female,2.00000,2.00000
24,29/08/2022 08.40.56,Being comfortable working with Machine Learnin...,Visualization,"MSc Software Design, ITU",It is the most exciting,Python,2 years,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3",43.0,74.000000,Male,2.00000,2.00000
25,29/08/2022 08.41.01,Get a good understanding of data mining and ho...,Regression,"MSc Software Design, ITU","I'm not sure, let's see how it works out",Java,1 year,2.0,"Valgmulighed 1, Valgmulighed 2",46.0,74.000000,Male,1.00000,1.00000
26,29/08/2022 08.41.03,I'm hoping to learn more about how data mining...,Classification,"MSc Software Design, ITU","This was mandatory for me, I'm not sure, let's...",Python,2 years,3.0,Valgmulighed 1,38.0,169.000000,Female,2.00000,2.00000
27,29/08/2022 08.41.12,To understand what is data mining and how to a...,Clustering,"MSc Software Design, ITU","The other courses were even less attractive, T...",Java,1 year,3.0,"Valgmulighed 1, Valgmulighed 3, Valgmulighed 5",39.0,65.700000,Female,1.00000,1.00000
28,29/08/2022 08.41.25,To be able to get more out of data sets,Clustering,"MSc Software Design, ITU",It is the most exciting,Java,1 year,2.0,"Valgmulighed 1, Valgmulighed 2",39.0,70.078740,Female,1.00000,1.00000
29,29/08/2022 08.41.29,Classify data and do valuable analysis,Visualization,"MSc Software Design, ITU",It is the most exciting,Java,2 years,2.0,"Valgmulighed 1, Valgmulighed 3, Valgmulighed 5",41.0,72.830000,Female,2.00000,2.00000
30,29/08/2022 08.41.31,Knowledge,Don't know yet,"MSc Software Design, ITU","I'm not sure, let's see how it works out",Java,1 year,1.0,"Valgmulighed 1, Valgmulighed 2",38.0,66.140000,Female,1.00000,1.00000
31,29/08/2022 08.41.35,I would like to be able to do basic data minin...,Visualization,"MSc Software Design, ITU","It is the most exciting, This was mandatory fo...",JavaScript,1 year,2.0,"Valgmulighed 1, Valgmulighed 3, Valgmulighed 5",37.0,64.960000,Female,1.00000,1.00000
32,29/08/2022 08.41.36,be smarter,Clustering,"MSc Software Design, ITU",It is the most exciting,java,1 year,2.0,Valgmulighed 1,38.0,66.900000,Female,1.00000,1.00000
33,29/08/2022 08.41.53,"To be able to asses value of data, and to also...","I only now what clustering means, so i cannot ...",MSc elsewhere,It'll give me business skills,"Python will be my first programming language, ...",0 years,0.0,Valgmulighed 1,45.0,72.000000,Male,0.00000,0.00000
34,29/08/2022 08.42.02,General knowledge of data mining processes and...,Data wrangling,Non-Masters,It'll give me business skills,Java,15 years,3.0,"Valgmulighed 1, Valgmulighed 3, Valgmulighed 5",42.0,72.000000,Male,15.00000,15.00000
35,29/08/2022 08.42.06,NaN,Visualization,"MSc Software Design, ITU",It is the most exciting,"Explored Python first, but learned with Java",1 year,3.0,Valgmulighed 5,39.0,64.900000,Female,1.00000,1.00000
36,29/08/2022 08.42.08,Learning how to find patterns in data structur...,Clustering,"MSc Software Design, ITU",It is the most exciting,Java,One year,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",43.0,74.000000,Female,1.00000,1.00000
37,29/08/2022 08.42.18,"The ability to collect, clean and analyze of l...",Clustering,"MSc Software Design, ITU","It is the most exciting, It's part of speciali...",java,2 years,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",45.0,75.200000,Male,2.00000,2.00000
38,29/08/2022 08.42.18,when and how to apply data analysis methods an...,Regression,"MSc Software Design, ITU","It is the most exciting, It'll give me busines...",C++,2,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 5",42.0,71.000000,Male,2.55814,2.55814
39,29/08/2022 08.42.28,Understanding how to work with and analyse dat...,Data wrangling,"MSc Software Design, ITU",It is the most exciting,Java,1 year,3.0,"Valgmulighed 1, Valgmulighed 3, Valgmulighed 5",36.0,64.000000,Female,1.00000,1.00000
40,29/08/2022 08.42.30,To become more comfortable with python and lea...,Data wrangling,"MSc Digitial Innovation and Management, ITU",It is the most exciting,Javascript,4 years,4.0,"Valgmulighed 1, Valgmulighed 2",37.0,68.500000,Female,4.00000,4.00000
41,29/08/2022 08.42.32,More familiar with the math of ML,Classification,"MSc Software Design, ITU",It is the most exciting,R,A single year,4.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",42.5,71.000000,Male,2.55814,2.55814
42,29/08/2022 08.43.16,I'm hoping to get a feel for whether working w...,Visualization,"MSc Software Design, ITU",The other courses were even less attractive,Python,"1,5 years",3.0,"Valgmulighed 1, Valgmulighed 3, Valgmulighed 5",38.0,64.600000,Female,2.55814,2.55814
43,29/08/2022 08.43.34,I will learn how to apply data mining on diffe...,Regression,"MSc Software Design, ITU","It is the most exciting, It'll give me busines...",Java,1 year,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",44.0,73.000000,Male,1.00000,1.00000
44,29/08/2022 08.43.51,To be comfortable dealing with data analytics ...,Classification,"MSc Digitial Innovation and Management, ITU",It is the most exciting,Python,2 years,4.0,Valgmulighed 3,36.0,61.500000,Female,2.00000,2.00000
45,29/08/2022 08.43.52,Some first insight into the topic,"I do not know yet, I would like to get the bro...","MSc Computer Science, ITU",It is the most exciting,"Java, then Python",~ one year,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3",42.0,177.000000,Male,2.55814,2.55814
46,29/08/2022 08.45.25,"To get valuable skills, which I can use in a p...",I do not have a preferred topic (yet),"MSc Software Design, ITU","I'm not sure, let's see how it works out, It'l...",Java,4 years,NaN,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",39.0,63.780000,Female,4.00000,4.00000
47,29/08/2022 08.47.02,Im hoping to get an understanding of data coll...,Visualization,"MSc Software Design, ITU",This was mandatory for me,Java,1 year,2.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3",44.0,62.000000,Male,1.00000,1.00000
48,29/08/2022 10.51.02,NaN,Clustering,"MSc Software Design, ITU","I'm not sure, let's see how it works out",Java,1 year,2.0,"Valgmulighed 1, Valgmulighed 2",42.0,70.000000,Male,1.00000,1.00000
49,29/08/2022 11.45.25,Methods and knowledge of how to solve a proble...,Regression,"MSc Software Design, ITU","It is the most exciting, It'll give me busines...",Java,July 2022,2.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3",44.0,73.620000,Male,2.55814,2.55814
50,29/08/2022 15.01.41,Proficiency in Python and data oriented librar...,Clustering,"MSc Software Design, ITU","It is the most exciting, It'll give me busines...",C,2 years,3.0,"Valgmulighed 1, Valgmulighed 2, Valgmulighed 3...",44.0,15.580000,Male,2.00000,2.00000
51,29/08/2022 15.38.37,I hope to learn the concepts and how the conce...,Data wrangling,Non-Masters,I teach python courses at the university libra...,Python,3-4 years,4.0,Valgmulighed 1,1.0,1.000000,Male,4.00000,4.00000
52,31/08/2022 15.29.17,Abilities to understand and present data in a ...,Data wrangling,"MSc Software Design, ITU","This was mandatory for me, It'll give me busin...",Java,1 year,3.0,"Valgmulighed 1, Valgmulighed 2",45.0,75.000000,Male,1.00000,1.00000